body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url("../Imagenes/virusfacha.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.conteiner{
    background-color: blue;
    position: fixed;
    height: 100px;
    width: 50%;
    margin-left: 300px;
    justify-content: center;
    opacity: 50%;
    z-index: 1;
    
    }
    
    .home{
       
        color: aliceblue;
        font-size: 60px;
        margin-left :0px;
        position: fixed;
         
    }
    .contacto{
        
        color: aliceblue;
        font-size: 60px;
        margin-left: 170px;
        position: fixed;
        
    }
    .info{
        
        color: aliceblue;
        font-size: 60px;
        margin-left: 420px;
        position: fixed;
        
    
    
    }
    .extra{
    
        color: aliceblue;
        margin-left: 550px;
        font-size: 60px;
        position: fixed;
        
    
    
    }
    a:hover{
        background-color: aqua;
        color: yellow;
        
        
    }
    div a{
        margin-left: 5%;
        margin-right: 5%;
        text-decoration: none;
        
    }
    .facha{
        background-color: rgb(255, 255, 255);
        height: 200px;
        width: 300px;
        
    
    }
    .triste{
        background-color: rgb(255, 255, 255);
        height: 200px;
        width: 300px;
        
    }
    
    .scaloni{
        background-color: rgb(255, 255, 255);
        height: 200px;
        width: 300px;
    
    }
    
    .derecha{
        background-color: rgb(255, 248, 248);
        position: absolute;
        display: inline-block;
        width: 0px;
        max-height: 1000px;
        margin-left: 1050px;
        margin-top: 100px;
        opacity:60% ;
    }
    .izquierda{
        background-color: rgb(238, 238, 11);
        position: absolute;
        display: inline-block;
        margin-top: 100px;
        margin-right: 1100px;
        overflow: scroll;
        max-height: 1250px;
        opacity:60% ;
        
    }
    .arañas{
        background-color: grey;
        position: absolute;
        display: inline-block;
        font-size: 20px;
        max-width: 880px;
        margin-left: 12%;
        margin-top: 100px;
        opacity:60% ;
    
    }
div img{

    float: left;
    height: 200px;
    width: 100px;
    
}    